<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
        <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Xakia" value="https://xakiatech.pkgs.visualstudio.com/_packaging/Xakia/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Xakia>
      <add key="Username" value="brett.graves@xakiatech.com" />
      <add key="ClearTextPassword" value="zujuie753fy5komfxskwmdv6komv3xvjwp3bqj625mzuyhn3mewa" />
    </Xakia>
  </packageSourceCredentials>
</configuration>
